<div *ngIf="datos && datos != null; else elseBlock" class="d-flex justify-content-around flex-wrap align-content-around">
    <app-item-tiempo *ngFor="let item of datos" [item]="item"></app-item-tiempo>
</div>

<ng-template #elseBlock>
    <div class="alert alert-danger mt-2" role="alert" *ngIf="this.autService.getApiPath() == 'NotFound'; else elseUserID">
        El userID no esta registrado como valido
    </div>
    <ng-template #elseUserID>

        <p >No hay datos</p>
    </ng-template>
</ng-template>